CONFIG_8139CP=m
CONFIG_8139TOO=m
CONFIG_ALX=m
CONFIG_ATL1C=m
CONFIG_ATL1E=m
CONFIG_ATL1=m
CONFIG_ATL2=m
CONFIG_BNA=m
CONFIG_BNX2X=m
CONFIG_CHELSIO_T1_1G=y
CONFIG_CHELSIO_T1=m
CONFIG_CHELSIO_T3=m
CONFIG_CHELSIO_T4=m
CONFIG_CHELSIO_T4VF=m
CONFIG_CNIC=m
CONFIG_CX_ECAT=m
CONFIG_E1000E=m
CONFIG_E1000=m
CONFIG_E100=m
CONFIG_FM10K=m
CONFIG_PCI_MMCONFIG=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_HOTPLUG_PCI=y
CONFIG_HPET=y
CONFIG_I40E=m
CONFIG_I40EVF=m
# CONFIG_IGB_HWMON is not set
CONFIG_IGB=m
CONFIG_IGBVF=m
# CONFIG_ISA_DMA_API is not set
CONFIG_IXGBE=m
CONFIG_IXGBEVF=m
CONFIG_IXGB=m
CONFIG_MLX4_EN=m
CONFIG_PCIEPORTBUS=y
CONFIG_PCI_MSI=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_PCI_STUB=m
CONFIG_R8169=m
CONFIG_SKGE=m
CONFIG_SKY2=m
CONFIG_TEHUTI=m
CONFIG_TIGON3=m
CONFIG_UIO_PCI_GENERIC=m
# CONFIG_VIRTUALIZATION is not set
CONFIG_X86_PKG_TEMP_THERMAL=y
